:root {
  --rows: repeat(16, 1fr);
  --columns: repeat(16, 1fr);
}

html {
    font-size: 15px;
    background: #ffc600;
    display: grid;
    text-align: center;
  }

.container {
    border: 5px solid rgb(0, 0, 0);
    background: ivory;
    margin: auto;
    height: 35vmax;
    width: 35vmax;
    display: grid;
    grid-template-columns: var(--columns);
    grid-template-rows: var(--rows);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;

}

/* .container div {
  border: 3px solid brown;
  text-align: center;
  background-color: chartreuse;
  aspect-ratio: 1 / 1;

} */

 .square {
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgb(255, 255, 255);
    justify-self: center;
    align-self: center;
    aspect-ratio: 1 / 1;
  }

/*   .square:after {
    content: "";
    padding-bottom: 100%;
  } */

  .active {
    background: black;
  }

  .clear {
    position: absolute;
    font-family: Apple Chancery, cursive;
    font-size: 15px;
    font-weight: bold;
    left: 5px;
    top: 5px;
  }